<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_API_KEY</key>
	<string>f0f57c2dc0ba91d510142f97daf2cb7b</string>
	<key>TMDB_ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMGY1N2MyZGMwYmE5MWQ1MTAxNDJmOTdkYWYyY2I3YiIsIm5iZiI6MTc2NTQ1NTMzNC42NDMwMDAxLCJzdWIiOiI2OTNhYjVlNmQ2ZTQyZGFhYzVkZmFhNDIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ox0G6qOcXw40kbTQSpyx8FLIbw1J4ZxR0p29MjnJxCQ</string>
</dict>
</plist>
